.landing-container {
    width: 100vw;
    height: 100vh;
    background-color: #27539D;
    padding: 200px 0
}

@media (max-width: 960px) {
    .landing-container {
        height: 880px;
        padding: 50px 0
    }
}

.time-margin {
    margin-top: 100px;
}

@media (max-width: 960px) {
    .time-margin {
        margin-top: 0;
    }
}

@media (max-width: 960px) {
    .countdown-margin {
        padding-top: 30px;
    }
}

@media (max-width: 960px) {
    .title-margin {
        padding-top: 30px;
    }
}

.countdown-border {
    height: 150px;
    width: 150px;
    border: 3px solid;
    border-color: #fff
}
