.bg-ddd {
    background-color: 'white';
}

.menu-link {
    color: #27539D;
    padding: 0.5rem 1rem;
    display: block;
}

.menu-link:hover, .menu-link:focus {
    text-decoration: none;
    color: #0099ff;
}

.dropdown-text {
    color: #27539D;
    padding: 0.5rem 1rem;
}

/* .dropdown-menu { */
    /* color: #27539D;
    padding: 0.5rem 1rem; */
    /* display: block; */
/* } */

.custom-menu {
    min-width: 90px;
}

.custom-item {
    text-align: center;
}

.btn-outline-join {
    color: #27539D;
    border-color: #27539D;
}

.btn-outline-join:hover {
    color: #fff;
    background-color: #27539D;
    border-color: #27539D;
  }