.title {
    font-size: 40px;
    font-family: Roboto;
    text-align: left;
    color: #27539D;
    opacity: 1;
    padding-bottom: 55px;
    padding-top: 55px;

}

.introDescription {
    text-align: left;
    font-size: 28px;
    font-family: Helvetica Neue;
    color: #707070;
    opacity: 1;
}

.introImg {
    width: 659px;
    height: 439px;
    opacity: 1;
}