.instructorSimple {
    padding: 0 30px;
    margin-bottom: 50px;
}

.instructorImgContainer {
    border: 10px solid #27539D;
}

.headShotImage {
    padding-top: 4em;
    width: 260px;
    height: 290px;
}

.instructorName {
    padding: 20px 0 0;
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
}

@media (max-width: 960px) {
    .instructorName {
        font-size: 20px;
    }
}

.instructorTitle {
    padding: 10px 0 0;
    font-size: 20px;
    text-align: center;
}

@media (max-width: 960px) {
    .instructorTitle {
        font-size: 16px;
    }
}

.instructors{
    padding: 0 40px;
}

.instructorDetail{
    padding-top: 30px;
}