.instructorSimple {
    padding: 0 30px;
    margin-bottom: 50px;
}

.instructorImgContainer {
    padding: 0;
    border-width: 20px;
    border-style: solid;
    border-color: #27539D;
    height: 400px;
    opacity: 1;
}

.headShotImage {
    padding-top: 4em;
    width: 260px;
    height: 290px;
}

.instructorName {
    padding: 40px 0 0;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;

}

.instructorTitle {
    padding: 30px 0 0;
    font-size: 20px;
    text-align: center;
}

.instructors{
    padding: 0 0 0 40px;
}

.instructorDetail{
    padding-top: 30px;
}