.introDescription {
    text-align: left;
    font-size: 20px;
    font-family: Helvetica Neue;
    color: #707070;
    opacity: 1;
}

.introImg {
    width: 659px;
    height: 439px;
    opacity: 1;
}