.footer-container {
    width: 100vw;
    height: 150px;
    background-color: #27539D;
    margin-top: 100px;
    padding-top: 20px;
}

@media (max-width: 960px) {
    .footer-container {
        height: 530px;
    }
}

.row-height {
    height: 100%;
    align-items: center;
}

.element-container {
    display: inline-block;
    height: 100px;
}

@media (max-width: 960px) {
    .element-container {
        margin-top: 20px;
    }
}

.title-size {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 10px;
}